#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: black;
}

.logo {
    width: 80px;
}

nav a {
    text-align: center;
    background: black;
    color: #FFF011;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

header {
    background-color: black;
}


#hero {
    text-align: center;
}

#hero a {
    background-color: white;
    color: black;
    text-decoration: none;
}

#hero a:hover {
    background-color: #FFF011;
    color: black;
}

#hero-img {
    width: 100%;
}

main section {
    text-align: center;
}

.home-grid h2 {
    color: white;

}

.icon {
    width: 80px;
}

#hero-msg h1,
h4 {
    text-align: center;
    color: white;
}

#background {
    height: 725px;
    background-color: #FFF011;
}

.msg {
    background-color: #FFF011;
    color: black;
}

.msg a {
    background-color: white;
    color: black;
    text-decoration: none;
}

.msg a:hover {
    background-color: #FFF011;
    color: black;

}

.msg h2 {
    color: black;
}

footer {
    background-color: black;
    color: white;
}

footer a,
h3 {
    color: #FFF011;
    text-decoration: none;
}

footer a:hover {
    color: white;
}