/*  Personal Site CSS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/*  PRINCIPAL CSS */
body {
    background-color: #2C2C2A;
    color: #0E9BAD;
}

/*  HEADER */

header {
    background-color: #2C2C2A;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

.logo {
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

p,
label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

a {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
    margin: 35px;
    align-items: center;
}

a:hover {
    color: #0E9BAD;
    transition: .5s;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

/*  OVERLAY*/

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Ubuntu', sans-serif;
    color: white;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #0E9BAD;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  #kmore {
    font-size:30px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: white;
    justify-self: end;
  }


  #kmore:hover {
    color: #0E9BAD;
    transition: .5s;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;

  }

/*  FOOTER*/
footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.imgfoot {
    width: 32px;
}

/*  Me Page */

.meint {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.h1side {
    grid-column: 3/6;
    grid-row: 2/3;
    font-size: 80px;
    margin: 0;
    color: white;
}

.h2side {
    grid-column: 3/5;
    grid-row: 1/2;
}

.h2side2 {
    grid-column: 3/5;
}

.pside {
    grid-column: 3/6;
    text-align: left;
    line-height: 1.5;
}

.mepic {
    width: 50%;
    height: auto;
    border-radius: 50%;
    grid-row: 1/5;
    grid-column: 6/8;
    align-self: center;
    justify-self: left;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

.mepic:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

#imagecent {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px;
    margin-bottom: 30px;
}

.pfoot {
    margin-top: 30px;
    border: 0;
    align-self: center;
}

.h2lang {
    grid-row: 5/6;
    grid-column: 3/7;
    justify-self: center;
}

.imgh {
    width: 32px;
    grid-row: 6/7;
    grid-column: 3/4;
    justify-self: center;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

.imgh:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

.htpar {
    grid-column: 3/4;
    grid-row: 7/8;
    color: white;
    align-self: center;
    justify-self: center;
}

.imgc {
    width: 32px;
    grid-row: 6/7;
    grid-column: 4/5;
    justify-self: center;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

.imgc:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}


.cspar {
    grid-column: 4/5;
    grid-row: 7/8;
    color: white;
    align-self: center;
    justify-self: center;
}

.imgj {
    width: 32px;
    grid-row: 6/7;
    grid-column: 5/6;
    justify-self: center;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

.imgj:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

.javpar {
    grid-column: 5/6;
    grid-row: 7/8;
    color: white;
    align-self: center;
    justify-self: center;
}

.imgp {
    width: 32px;
    grid-row: 6/7;
    grid-column: 6/7;
    justify-self: center;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 3px;
}

.imgp:hover {
    opacity: .9;
    transform: scale(1.1);
    transition: 1s;
}

.pytpar {
    grid-column: 6/7;
    grid-row: 7/8;
    color: white;
    align-self: center;
    justify-self: center;
}

/*  What I Do Page */

.containerwhatido {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}

.h1wido {
    grid-column: 3/5;
    font-size: 80px;
}

.h2wido {
    grid-column: 3/8;
    grid-row: 2/3;
}

.pwido {
    grid-column: 1/9;

}

.imgsize1 {
    grid-column: 3/6;
}


@media screen and (max-width: 700px) {
    nav,
    footer {
        flex-direction: column;
        margin: 15px;
    }

    nav a {
        display: block;
        margin: 15px;
        padding-top: 20px;

    }

    a {
        margin: 15px;
    }

    .imgh {
        margin: 15px;
    }

    p {
        margin: 15px;
    }

    .h1side {
        font-size: 50px;
    }
    
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
  }
