body {
    text-align: center;
}
h1 {
    margin: 50px;
}

a {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    width: 30%;
    display: flex;
    margin: 10px;
}

a:hover {
    color: #181818;
    transition: .3s ease;
    background-color: #c7c6c6;
    border-radius: 30px;
}

p {
    margin: 50px;
}